﻿<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/ngDialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="lib/ngDialog/css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>

<body ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Booking event</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/events.html">Events</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-controller="EventController" class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ng-repeat="event in events" ng-class="{'active': event == currentEvent}">
                        <div ng-click="showCurrentEvent(event)">{{event.name}}</div>
                    </li>

                    <!--<li class="active"><a href="/index.html">Home <span class="sr-only">(current)</span></a></li>
                                        <li><a href="/events.html">Events</a></li>-->
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{{currentEvent.name}}</h1>
                <a href="/newRoom.html#?eventId={{currentEvent.id}}" class="btn btn-primary">Create Conference</a>

                <h3>Conference Rooms</h3>

                Order By:
                <select name="" id="" ng-model="sortorder" class="input-small">
                    <option value="name" selected>Name</option>
                    <option value="-availableSeats">Available seats</option>
                </select>
                <br />
                <div class="row">


                    <div class="table-responsive table-striped">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Total Seats</th>
                                    <th>Available Seats</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="room in currentEvent.rooms | orderBy:sortorder " ng-click="showRoom(room)" ng-class="{'active': room == currentRoom}" class="room-table-row">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{room.name}}</td>
                                    <td>{{room.seats.length}}</td>
                                    <td>{{room.availableSeats}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <h4>Seats:</h4>
                    <hr />
                    <div class="room-border">
                        <div ng-repeat="n in range(1,currentRoom.rows + 1)" class="row-seat">
                            <div ng-repeat="c in range(1,currentRoom.columns + 1)" class="column-seat">
                                <div class="seat" ng-click="showConfirmDialog(n,c)" ng-class="getSeatClass(n,c)">{{getSeatNumber(n,c)}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="legend clear">
                        <h4>Legend:</h4>
                        <div class="seat seat-available"></div> <span>Available</span>
                        <div class="clearfix"></div>
                        <div class="seat seat-booked"></div> <span>Booked</span>
                        <div class="clearfix"></div>
                        <div class="seat not-defined"></div> <span>Free space</span>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="row">
                    <hr/>
                    <a href="/editRoom.html#?eventId={{currentEvent.id}}&roomId={{currentRoom.id}}" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-default">Delete</button>
                </div>
        </div>
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/signalr/jquery.signalR.min.js"></script>
    <script src='/signalr/js'></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/ngDialog/js/ngDialog.min.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/EventController.js"></script>
    <script src="js/controllers/DialogController.js"></script>
    <script src="js/services/DialogService.js"></script>
    <script src="js/services/EventData.js"></script>
</body>

</html>
