﻿<!DOCTYPE html>
<html ng-app="app">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="pragma" content="no-cache" />
      <meta http-equiv="expires" content="-1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="/favicon.ico">

      <title>Dashboard Template for Bootstrap</title>
    <link rel="stylesheet"href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>

<body ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Booking event</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/events.html">Events</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/index.html">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/events.html">Events</a></li>
                </ul>
            </div>

            <div ng-controller="DashboardController" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Home</h1>

                <div class="row">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="row">
                            <span>Number of Events:</span>
                        </div>
                        <div id="dashboardEventNumbers" class="row">
                            <h2 class="span1">{{dashboard.eventNumbers}}</h2>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="row">
                            <span>Available Sits:</span>
                        </div>
                        <div class="row">
                            <h2 class="span1">{{dashboard.availableSeats}}</h2>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/signalr/jquery.signalR.min.js"></script>
    <script src='/signalr/js'></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/ngDialog/js/ngDialog.min.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/DashboardController.js"></script>
    <script src="js/services/DashboardData.js"></script>
</body>

</html>
