﻿<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/ngDialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="lib/ngDialog/css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>

<body ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Booking event</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/events.html">Events</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-controller="RoomController" class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
                <h1 class="page-header">Create New Conference Room</h1>
                <br />
                <div class="row">


                    <form name="newRoomForm" class="form-horizontal css-form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter conference room name" ng-model="newRoom.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="rows">Rows No:</label>
                            <div class="col-sm-10">
                                <input type="number" min="1" max="20" class="form-control" id="rows" placeholder="Enter rows number from 1-20" ng-model="newRoom.rows" ng-change="roomChanged()" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="cols">Columns No:</label>
                            <div class="col-sm-10">
                                <input type="number" min="1" max="20" class="form-control" id="cols" placeholder="Enter columns number from 1-20" ng-model="newRoom.columns" ng-change="roomChanged()" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" ng-show="!showRoomView" ng-click="generateView()" class="btn btn-default">Generate View</button>
                            </div>
                        </div>
                        <hr />
                        <div ng-show="showRoomView" class="row col-sm-offset-2 col-sm-10">
                            <h4>Seats:</h4>
                            <hr />
                            <div class="room-border">
                                <div ng-repeat="n in range(1, newRoom.rows + 1)" class="row-seat">
                                    <div ng-repeat="c in range(1, newRoom.columns + 1)" class="column-seat">
                                        <div class="seat" ng-click="showConfirmDialog(n,c)" ng-class="getSeatClass(n,c)">{{getSeatNumber(n,c)}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="legend clear">
                                <h4>Legend:</h4>
                                <div class="seat seat-available"></div> <span>Available</span>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="seat not-defined"></div> <span>Free space</span>
                                <button type="button" class="btn btn-default" ng-click="reorderSeats()">Reorder numbers</button>
                                <div class="clearfix"></div>
                            </div>
                            <hr />
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" ng-click="createConference()" class="btn btn-default">Create New Conference Room</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<saving></saving>-->
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/signalr/jquery.signalR.min.js"></script>
    <script src='/signalr/js'></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/ngDialog/js/ngDialog.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/RoomController.js"></script>
    <!--<script src="js/directives/saving.js"></script>-->
    <script src="js/controllers/DialogController.js"></script>
    <script src="js/services/DialogService.js"></script>
    <script src="js/services/EventData.js"></script>
</body>

</html>
