﻿/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


.nav-sidebar > li > div {
  padding: 10px 20px 10px 20px;
}
.nav-sidebar > .active > div,
.nav-sidebar > .active > div:hover,
.nav-sidebar > .active > div:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar > li > div:hover {
    cursor: pointer;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.placeholder {
    height: 150px;
    min-width: 150px;
    margin: 10px;
    background-color: rgb(66, 139, 202);
}

.placeholder span {
    padding: 10px 10px 10px 10px;
    display: block;
    color: white;
    text-align:center;
}

.placeholder .row h2.span1 {
    text-align: center;
    color: white;
}

.room-table-row:hover {
    cursor: pointer;
    background-color: deepskyblue;
}

.room-border {
    border-bottom: 1px solid;
    border-right: 1px solid;
    float:left;
}
.row .row-seat {
    clear: both;
}

.column-seat {
    display: inherit;
    float: left;
}

.row .row-seat .seat {
    border-top: 1px solid ;
    border-left: 1px solid;
    text-align:center;
    padding: 4px;
    height: 40px;
    width: 40px;
}

.row .row-seat .seat:hover {
    cursor:pointer;
}

.seat-available {
    background-color: green;
}

.seat-booked {
    background-color: red;
}

.not-defined {
    background-color: gray;
}

/* Dialog modal content*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%; /* Default */
    /* Center the dialog */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.legend {
    padding-top: 20px;
}

.legend .seat {
    border: 1px solid;
    height: 20px;
    width: 20px;
    float: left;
    margin-bottom: 5px;
}

.legend span {
    padding-left: 5px;
}

.legend button {
    float:right;
}

.clear {
    clear: both;
}

/*rooms*/
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }