﻿<div ng-controller="DialogController">
    <div class="ngdialog-message">
        <h3>Please confirm</h3>
        <p>{{modalContent}}</p>
        <br />
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Confirm</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
</div>