﻿<div ng-controller="DialogController">
    <div class="ngdialog-message">
        <h3>Operation result</h3>
        <p>{{modalContent}}</p>
        <br />
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Ok</button>
</div>